numpy>=1.14,<1.22
scipy>=1.5.2
torch==1.7.1
torchaudio>=0.7.0
audioread>=2.1.8
julius>=0.2.3,<0.3
librosa==0.9.0
py-cpuinfo>=7.0.0
pytest==5.3.4
pytest-cov==2.8.1
coverage==4.5.2
PyYAML>=5.3.1
torch-pitch-shift>=1.2.0
